:root {
  --button-color: #007bff;
  --white: #fff;
  --white-bg: #f4f4f9;
  --black: #000;
  --dry-red: #ff4d4d;
  --white-less-strain: #F3EFE0;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: var(--white-less-strain);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* QUIZ BOX */
.quiz-container {
  background: var(--white-bg);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

/* QUESTION */
.question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* OPTIONS */
.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.option:hover {
  background-color: var(--button-color);
  color: var(--white);
}

/* TIMER */
.timer {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--dry-red);
}

/* RESULTATTEKST */
.result {
  font-size: 1.3em;
  color: var(--dry-red);
  display: none;

  text-align: left;
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
}

/* KONSEKVENS LISTE */
.con_result {
  display: none;

  text-align: left;
  max-width: 500px;
  margin: 20px auto;
  padding-left: 20px;
}

.con_result li {
  margin-bottom: 12px;
  line-height: 1.5;
}

/* RESTART BUTTON */
.restart-btn {
  background-color: #af504c;
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  display: none;

  margin: 20px auto 0 auto;
}

.restart-btn:hover {
  background-color: #7a3835;
}

/* LENKE TILBAKE */
.lovsiden {
  display: none;
  color: #007bff;
  margin-top: 15px;
  display: block;
}


/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #1a0000;
  color: var(--dry-red);
  padding: 25px;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: 2px solid red;
}

.popup-content h2 {
  color: var(--dry-red);
}

.popup-content button {
  background-color: var(--dry-red);
  color: var(--white-less-strain);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-content button:disabled {
  background-color: var(--white-less-strain);
  color: var(--dry-red);
  cursor: not-allowed;
}

.popup.hidden {
  display: none;
}
