:root {
  --button-color: #007bff;
  --white: #fff;
  --white-bg: #f4f4f9;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white-bg);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition:
  background-color 0.3s,
  color 0.3s;
}

.option:hover {
  background-color: var(--button-color);
  color: var(--white);
}

.timer {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ff5722;
}

.result {
  font-size: 1.5em;
  color: #f31208;
  display: none;
}

.restart-btn {
  background-color: #af504c;
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-items: auto;
  margin: auto;
  margin-top: 15px;
}

.restart-btn:hover {
  background-color: #7a3835;
}

.con_result {
  display: none;
}
